#title_box{
    color:#2A5674;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 300%;
    text-align: center;
    border-radius: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #A1D7D6;
    margin-bottom: 2%;
}
#title{
    margin:0;
}
.data_{
    color: white;
}
#data_box{
    color:#2A5674;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 190%;
    text-align: center;
    border-radius: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #A1D7D6;
}